.crear-prueba-container {
    margin: 20px auto;
    max-width: 600px;
    padding: 20px;
    background-color: var(--form-bg-color);
    box-shadow: var(--shadow-light);
    border-radius: var(--border-radius);
    text-align: center;
  }
  
  .crear-prueba-container h2 {
    color: var(--secondary-color);
    font-size: 1.8rem;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
    color: var(--text-color);
  }
  
  .duracion-input {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: var(--border-radius);
    font-size: 14px;
    text-align: center;
    box-sizing: border-box;
    margin: 0 auto;
  }
  
  .duracion-input:focus {
    border-color: var(--primary-color);
    box-shadow: 0 0 5px var(--primary-color);
  }
  
  .form-actions {
    margin-top: 20px;
  }
  
  .boton-crear-prueba {
    background-color: #0078d4;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 6px 12px; /* Tamaño compacto */
    font-size: 12px; /* Texto más pequeño */
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    width: 120px; /* Ancho fijo */
    height: 40px; /* Alto fijo */
    display: inline-block;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .boton-crear-prueba:hover {
    background-color: #0056a3;
    transform: translateY(-2px);
  }
  
  .boton-crear-prueba:active {
    transform: translateY(0);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .error {
    margin-top: 10px;
    padding: 10px;
    background-color: var(--error-bg-color);
    color: var(--error-text-color);
    border: 1px solid var(--error-border-color);
    border-radius: var(--border-radius);
  }
  
  .imagen-footer {
    margin-top: 20px;
    text-align: center;
  }
  
  .imagen-footer img {
    max-width: 100%;
    height: auto;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow-light);
  }
  