.curso-form {
  max-width: 600px;
  width: 70%;
  margin: 0 auto;
  padding: var(--spacing-medium);
  background-color: var(--background-color);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-light);
}

.curso-form h2 {
  text-align: center;
  color: var(--secondary-color);
  margin-bottom: var(--spacing-medium);
}

.form-group {
  margin-bottom: var(--spacing-medium);
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra los elementos */
}

.form-group label {
  width: 100%;
  max-width: 400px; /* Ajuste para etiquetas */
  text-align: left;
  margin-bottom: 8px;
}

input,
textarea {
  width: 100%;
  max-width: 400px; /* Reduce el ancho máximo */
  padding: var(--spacing-small);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  font-size: 1rem;
  resize: none;
}
textarea {
  height: 150px;
  border: 1px solid var(--primary-color);
  border-radius: var(--border-radius);
}
textarea:focus,
input:focus {
  outline: none;
  border-color: var(--primary-color);
}

/* Ajustes para la vista previa de imagen */
.image-preview {
  margin-top: var(--spacing-medium);
  text-align: center;
}

.image-preview img {
  max-width: 100%;
  max-height: 150px; /* Reduce el tamaño máximo */
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-light);
}

.simulacion-group {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  background-color: #f9f9f9;
  width: fit-content;
  margin: auto; /* Centra la sección */
  
}

.simulacion-group input[type="checkbox"] {
  width: 20px;
  height: 20px;
  cursor: pointer;
  accent-color: var(--primary-color, #007bff);
  
}

.simulacion-group label {
  font-size: 1.1rem;
  color: #333;
  font-weight: 500;
  
}

/* Botón */
.crear-curso-button-container {
  text-align: center;
  margin-top: var(--spacing-medium);
}

.crear-curso-button {
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: var(--border-radius);
  background-color: var(--primary-color);
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.crear-curso-button:hover {
  background-color: var(--primary-hover-color);
}

.crear-curso-button:active {
  transform: scale(0.95);
}
.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  color: white;
  font-size: 1.2rem;
}

/* Spinner */
.spinner {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-top: 4px solid white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}