/* Fondo y contenedor principal */
.registro-background {
  background: url('https://images.unsplash.com/photo-1505209487757-5114235191e5?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDEwNnx8fGVufDB8fHx8fA%3D%3D') no-repeat center center fixed;
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Contenedor del formulario */
.registro-container {
  background: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 435px; /* Ajuste de ancho para mejor visualización */
  max-height: 90%; /* Ajuste de altura */
  box-sizing: border-box;
  overflow: hidden; /* Eliminar scrollbars internos */
}

/* Título del formulario */
.form-title {
  text-align: center;
  color: #333;
  font-size: 1.8rem; /* Ajuste de tamaño */
  font-weight: bold;
  margin-bottom: 10px;
}

/* Campos en línea */
.form-row {
  display: flex;
  gap: 5px; /* Espacio entre los campos */
  margin-bottom: 3px;
}

.form-group {
  flex: 1;
}

/* Inputs */
input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  width: 100%;
  box-sizing: border-box;
  transition: all 0.3s ease;
}

input:focus {
  border-color: #4e54c8;
  box-shadow: 0 0 6px rgba(78, 84, 200, 0.3);
  outline: none;
}

/* Botones */
button {
  padding: 12px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: bold;
  width: 100%;
  margin-top: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.button-group {
  display: flex;
  flex-direction: column; /* Colocar los botones verticalmente */
  align-items: center; /* Centrar los botones horizontalmente */
  gap: 10px; /* Espaciado entre los botones */
  width: 100%;
}

.submit-button {
  background: #4e54c8;
  color: white;
  width: 60%; /* Botón más ancho pero no ocupa todo el espacio */
}

.return-button {
  background: #333;
  color: white;
  width: 60%;
}

button:hover {
  transform: translateY(-1px); /* Animación más sutil */
}

button:disabled {
  background: #ccc;
  cursor: not-allowed;
}

/* Mensajes */
.message {
  text-align: center;
  margin-bottom: 10px;
  padding: 8px;
  font-size: 14px;
  border-radius: 8px;
}

.message.success {
  color: #4e54c8;
  background: rgba(78, 84, 200, 0.1);
}

.message.error {
  color: #d32f2f;
  background: rgba(255, 0, 0, 0.1);
}

/* Responsivo */
@media (max-width: 768px) {
  .registro-container {
    padding: 15px;
    margin: 20px auto;
    max-height: 90%;
  }

  .form-title {
    font-size: 1.5rem;
  }

  input {
    font-size: 12px;
  }

  button {
    font-size: 12px;
  }
}
