/* src/components/ui/button/Button.css */

/* Estilos Base del Botón */
.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 12px 20px;
  background-color: var(--primary-color);
  color: #ffffff;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  font-family: var(--font-family);
  font-weight: 500;
}

.button:hover {
  background-color: var(--primary-hover-color);
  transform: translateY(-2px);
}

.button:disabled {
  background-color: #a0c4e3;
  cursor: not-allowed;
}

.spinner {
  margin-right: 8px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Clase para Botones Más Pequeños */
.button-small {
  padding: 4px 16px; /* Reduce el padding vertical y horizontal */
  font-size: 14px;    /* Reduce el tamaño de la fuente */
  border-radius: 20px; /* Opcional: Reduce el radio del borde */
}
